<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>remote.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>remote.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>remote.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReader</servlet-name>
        <servlet-class>remote.DeleteReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandHover</servlet-name>
        <servlet-class>remote.HandHover</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/UpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReader</servlet-name>
        <url-pattern>/DeleteReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandHover</servlet-name>
        <url-pattern>/HandHover</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
